{% extends "alaska_base.html" %}

{% block title %} - {{title}}{% endblock %}

{% block extrahead %}
{{ block.super }}	
<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
<meta name="description" content="Landslagsteikningar Jóns H. Björnssonar">
<meta name="keywords" content="landslagsarkitekt, landslagsarkitektúr, skipulag, garðar">
{% endblock %}

{% block content %}

<section>
	<article id="teikningar">
		<header>
			<h2>{{ title }}</h2>
		</header>
		<section>
			{% if artol %}
			    <ul>
			    {% for artal in artol %}
			        <li>
			    	  	<a href="{{ artal.year }}/">{{ artal.year }}</a>
			       </li>
			    {% endfor %}
			    </ul>
			{% else %}
			    <p>Engin ártöl fundust.</p>
			{% endif %}
		</section>
		<footer></footer>
	</article>
</section>

{% endblock %}