{% extends "teikningar/base.html" %}
{% load static %}

{% block title %} - Teikningar{% endblock %}

{% block extrahead %}
{{ block.super }}	
<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
<meta name="description" content="Landslagsteikningar Jóns H. Björnssonar">
<meta name="keywords" content="landslagsarkitekt, landslagsarkitektúr, skipulag, garðar">

<link rel="stylesheet" href="{% static "css/maps.css" %}" />
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC_PsDKacUAo155HuRv0eUvg6z3JWpHyPY&sensor=false"></script>
<script type="text/javascript" src="{% static "js/geoxml3.js" %}"></script>

<script type="text/javascript">
var staticUrlPrefix = '{% static "" %}';
</script>
<script type="text/javascript" src="{% static "js/teikningakort.js" %}"></script>
<script type="text/javascript">
///// Google Maps
var mapOptions = {
	mapTypeId: google.maps.MapTypeId.SATELLITE
}
var geoXML3ZoomToFit = true;
google.maps.event.addDomListener(window, 'load', mapsInitialize);
</script>

<script type="text/javascript">
///// Thumbs with infinite scroll
$(function() {	
	var scans;
	
	function appendThumbsUntilInvisible() {
		var thumbscontainer = $('#teikningar-thumbs');
		for( i=0; i < 30; i++ ) {
			if( scans.length ) {
				var scan = scans.pop();
				var thumblink = $('<a/>', {'href':'/teikningar/'+scan.teikning_id+'/#'+scan.scan, 'title':scan.title});
				var thumbimg = $('<img/>', {'src':'http://teikningar.alaska.is/pngX160/'+scan.scan+'.png', 'alt':scan.title});
				thumblink.append( thumbimg );
				thumbscontainer.append( thumblink );
			}
		}
	}
	
    $(window).scroll(function(){  
        if( $(window).scrollTop() == $(document).height() - $(window).height() ){  
        	appendThumbsUntilInvisible();  
        }  
	}); 
	
	$.get("/teikningar/scans-in-random/", function(data){	
		scans = data;
		appendThumbsUntilInvisible();
	});
	
});
</script>
{% endblock %}


{% block content %}

<section>
	<article id="teikningar-map">
		<header>
			<h2>Staðsetning teikninga</h2>
			<p>Smellið á lurkana til að sjá upplýsingar um verk.</p>
		</header>
		<section>
			<div id="map-canvas"></div>
		</section>
		<footer></footer>
	</article>
	
	<article id="teikningar-categories">
		<header>
			<h2>Teikningar flokkaðar</h2>
		</header>
		<section>
			<ul>
				<li><a href="{% url 'skipulag' %}">Skipulag</a></li>
				<li><a href="{% url 'teikning' %}">Teikning</a></li>
				<li><a href="{% url 'sveitarfelag' %}">Sveitarfélag</a></li>
				<li><a href="{% url 'artol' %}">Ártöl</a></li>
				<li><a href="{% url 'flokkar' %}">Flokkar</a></li>
				<li><a href="{% url 'myndband' %}">Myndskeið frá verkum</a></li>
			</ul>		
		</section>
		<footer></footer>
	</article>
	
	<article id="teikningar-thumbnails">
		<header>
			<h2>Allar teikningar af handahófi</h2>
		</header>
		<section>
			<div id="teikningar-thumbs"></div>		
		</section>
	</article>
</section>

{% endblock %}