{% extends "teikningar/base.html" %}

{% block title %} - {{title}}{% endblock %}

{% block extrahead %}
{{ block.super }}	
<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
<meta name="description" content="Landslagsteikningar Jóns H. Björnssonar">
<meta name="keywords" content="landslagsarkitekt, landslagsarkitektúr, skipulag, garðar">
{% endblock %}

{% block content %}

<section>
	<article>
		<header>
			<h2><a href="../">{{title_type}}</a>: {{ title }}</h2>
		</header>
		<section>
			{% if teikningar %}
			    <ul>
			    {% for teikning in teikningar %}
			        <li>
			        	<a href="{% url 'detail' teikning.id %}">
			        		{{ teikning.stadur }}
			        		{% if teikning.stadur != "" and teikning.eigandi != "" %}
			        		 - 
			        		 {% endif %}
			        		 {{ teikning.eigandi }}
			        	</a>
			        </li>
			    {% endfor %}
			    </ul>
			{% else %}
			    <p>Engar teikningar fundust.</p>
			{% endif %}
		</section>
		<footer></footer>
	</article>
</section>

{% endblock %}