{% extends "alaska_base.html" %}
{% load static %}

{% block title %} - {% include "teikningar/teikning_title.html" %}{% endblock %}

{% block extrahead %}
{{ block.super }}	
<meta name="description" content="Landslagsteikning fyrir: {% include "teikningar/teikning_title.html" %}, Skipulag: {{teikning.skipulag}}, Teikning: {{teikning.teikning}}">
<meta name="keywords" content="landslagsarkitekt, {{teikning.skipulag}}, {{teikning.teikning}}">

<link rel="stylesheet" href="{% static "css/teikning.css" %}" />
<link rel="stylesheet" href="{% static "css/maps.css" %}" />
<script type="text/javascript" src="http://teikningar.alaska.is/seadragon-min/seadragon-min.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC_PsDKacUAo155HuRv0eUvg6z3JWpHyPY&sensor=false"></script>
<script type="text/javascript" src="{% static "js/geoxml3.js" %}"></script>
<script type="text/javascript">
var scanNames = [ {% for scan in teikning.scan_set.all %}'{{ scan.scan }}',{% endfor %} ]
var viewer = null;
function onZoomitResponse(resp) {
    if (resp.error) {
        // e.g. the URL is malformed or the service is down
        alert(resp.error);
        return;
    }
     
    var content = resp.content;
     
    if (content.ready) {
        viewer.openDzi(content.dzi);
    } else if (content.failed) {
        // alert(content.url + " failed to convert.");
    } else {
        alert(content.url + " er " +
            Math.round(100 * content.progress) + "% tilbúin.");
    }
}
function doOpen( scanName, anchor ) {
	if( anchor ) {
		window.location.hash = "#" + scanName;
	}
	var scanUrl = "http://teikningar.alaska.is/png/" + scanName + ".png";
	$.ajax({
	    url: "http://api.zoom.it/v1/content/?url=" +
	        encodeURIComponent( scanUrl ),
	    dataType: "jsonp",
	    success: onZoomitResponse
	});

	$("#scan-thumbs img").removeClass("active-scan").addClass("inactive-scan");
	$("#scan-thumbs img[src='http://teikningar.alaska.is/pngX160/" + scanName +".png']").removeClass("inactive-scan").addClass("active-scan");
	
	$('#scan-download-link').attr('href', scanUrl).text(scanUrl);
}
function seadragonInit() {
	viewer = new Seadragon.Viewer($('#scan-dzi').get(0));
	if( scanNames.length > 1 ) {
		for( s = 0; s < scanNames.length; s++ ) {
			$('#thumb_a_'+(s+1)).click(function(event){
				event.preventDefault();
			});
			var image = $('#thumb_img_'+(s+1)).get(0);
			Seadragon.Utils.addEvent(image, "click", Seadragon.Utils.createCallback(image, doOpen, scanNames[s], true));
		}
	}
    // if the page's hash is set, open image with that hash
    // if there is one. otherwise, just open the first image.
    // note that if there's a hash, it'll begin with #.
    var hash = (window.location.hash || " ").substr(1);
    // check if hash is in scanNames
    if( $.inArray(hash, scanNames) < 0 ) {
    	hash = null;
    }
    doOpen(hash || scanNames[0], false);    // don't anchor
}
if( scanNames.length > 0 ) {
	Seadragon.Utils.addEvent(window, "load", seadragonInit);	
}
</script>

<script type="text/javascript">
var staticUrlPrefix = '{% static "" %}';
</script>
<script type="text/javascript" src="{% static "js/teikningakort.js" %}"></script>
<script type="text/javascript">
///// Google Maps
var teikningLocation = new google.maps.LatLng({{teikning.latitude}},{{teikning.longitude}});
var mapOptions = {
	zoom: 14,
	center: teikningLocation,
	mapTypeId: google.maps.MapTypeId.SATELLITE
}
var geoXML3ZoomToFit = false;
function mapsExtendedInitialize() {

	mapsInitialize();
	
	infoWindow = new google.maps.InfoWindow();
	infoWindow.setContent( '{% include "teikningar/teikning_title.html" %}' );
	infoWindow.setPosition( teikningLocation );
	infoWindow.open( map );
}
google.maps.event.addDomListener(window, 'load', mapsExtendedInitialize);
</script>

<script type="text/javascript">
// Video URLs as embedded player
$(function() {
	
	$('#teikningar-video section p').each(function(index){
		var yturl = $(this).text();
		var ytid = yturl.match(/.*\/(.*)\?/)[1];
		var starttime = '';
		var starttimeformatmatch = yturl.match(/.*t=(.*)/);
		if( starttimeformatmatch ) {
			var starttimeformat = starttimeformatmatch[1];
			if( starttimeformat.match(/.*m.*/) ) {
				var minutes = starttimeformat.match(/(.*)m.*s/)[1];
				var seconds = starttimeformat.match(/.*m(.*)s/)[1];
				starttime = 60*parseInt(minutes) + parseInt(seconds);
			} else {
				starttime = starttimeformat.match(/(.*)s/)[1];
			}
		}
		var embedcode = '<iframe width="100%" height="500" src="http://www.youtube.com/embed/'+ytid+'?rel=0&start='+starttime+'&end=&autoplay=0" frameborder="0" allowfullscreen></iframe>';
		$(this).html( embedcode );
	});
});
</script>
{% endblock %}

{% block content %}

<h2 style="text-align:center;">
{% include "teikningar/teikning_title.html" %}
</h2>


<section>
{% if teikning.scan_set.all %}	
	<article id="teikningar-scans" style="padding: 0px 10px;">
		<section>
			<div id="scan-dzi"></div>
		</section>
	</article>
	<article>
		<section>
			{% if teikning.scan_set.all|length > 1 %}
			<div id="scan-thumbs">
			{% for scan in teikning.scan_set.all %}
		    	<a id="thumb_a_{{forloop.counter}}" href="http://teikningar.alaska.is/png/{{ scan.scan }}.png"><img id="thumb_img_{{forloop.counter}}" src="http://teikningar.alaska.is/pngX160/{{ scan.scan }}.png"/></a>
			{% endfor %}
				<br clear="both"/>
			</div>
			{% endif %}
		</section>
		<footer>
			<p id="scan-download">
				Niðurhal:  <a id="scan-download-link" target="_blank" href="http://teikningar.alaska.is/png/{{ teikning.scan_set.all.0.scan }}.png">http://teikningar.alaska.is/png/{{ teikning.scan_set.all.0.scan }}.png</a>
			</p>		
		</footer>
	</article>
{% endif %}

{% if not teikning.scan_set.all %}
{% include "teikningar/teikning_info.html" %}
{% endif %}

{% if teikning.latitude and teikning.longitude %}
	<article>
		<header>
			<h2>Staðsetning</h2>
		</header>
		<section>
			<div id="map-canvas"></div>
		</section>
		<footer>
		</footer>
	</article>
{% endif %}

{% if  teikning.scan_set.all %}
{% include "teikningar/teikning_info.html" %}
{% endif %}
	
{% if teikning.myndband_set.all|length > 0 %}
	<article id="teikningar-video">
		<header>
			<h2>Myndskeið</h2>
		</header>
		<section>
		{% for myndband in teikning.myndband_set.all %}
		<p>{{myndband.myndband}}</p>
		{% endfor %}
		</section>
		<footer>		
		</footer>
	</article>
{% endif %}
</section>

{% endblock %}