{% extends "alaska_base.html" %}

{% block title %} - {{title}}{% endblock %}

{% block extrahead %}
{{ block.super }}	
<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
<meta name="description" content="Landslagsteikningar Jóns H. Björnssonar">
<meta name="keywords" content="landslagsarkitekt, landslagsarkitektúr, skipulag, garðar">
{% endblock %}

{% block content %}

<section>
	<article>
		<header>
			<h2><a href="../">{{title_type}}</a>: <span>{{ title }}</span></h2>
		</header>
		<section>
			{% if teikningar %}
			    <ul>
			    {% for teikning in teikningar %}
			        <li>
			        	<a href="{% url 'detail' teikning.id %}">
			        		{{ teikning.stadur }}
			        		{% if teikning.stadur != "" and teikning.eigandi != "" %}
			        		 - 
			        		 {% endif %}
			        		 {{ teikning.eigandi }}
			        	</a>
			        </li>
			    {% endfor %}
			    </ul>
			{% else %}
			    <p>Engar teikningar fundust.</p>
			{% endif %}
		</section>
		<footer></footer>
	</article>
</section>

<script type="text/javascript">
$(document).ready(function(){
	var categoryMap = {'L01':'L1 einb&yacute;lish&uacute;sal&oacute;&eth;','L02':'L2 ra&eth;h&uacute;sal&oacute;&eth;','L03':'L3 fj&ouml;lb&yacute;lish&uacute;sal&oacute;&eth;','L04':'L4 almenningsgar&eth;ur','L05':'L5 &uacute;tivistarsv&aelig;&eth;i n&aelig;r','L06':'L6 &uacute;tivistarsv&aelig;&eth;i fjar','L07':'L7 sk&oacute;la-leiksk&oacute;lal&oacute;&eth;ir','L08':'L8 stofnanir anna&eth;','L09':'L9 l&oacute;&eth;ir vi&eth; atvinnuh&uacute;sn&aelig;&eth;i','L10':'L10 anna&eth;'};
	var title = $('section article header h2 span').text();
	if( categoryMap[title] ) {
		$('section article header h2 span').html(categoryMap[title]);
	}
});
</script>

{% endblock %}