	<article>
		<header>
			<h2>Upplýsingar um verk</h2>
		</header>
		<section style="margin:auto;">
			<dl style="margin-left:66%">
				{% if teikning.skipulag != "" %}
				<dt>Hönnun</dt>
				<dd><a href="{% url 'one-skipulag' teikning.skipulag %}">{{teikning.skipulag}}</a></dd>
				{% endif %}
				
				{% if teikning.teikning != "" %}
				<dt>Teikning</dt>
				<dd><a href="{% url 'one-teikning' teikning.teikning %}">{{teikning.teikning}}</a></dd>
				{% endif %}
				
				{% if teikning.sveitarfelag != "" %}
				<dt>Sveitarfélag</dt>
				<dd><a href="{% url 'one-sveitarfelag' teikning.sveitarfelag %}">{{teikning.sveitarfelag}}</a></dd>
				{% endif %}
				
				{% if teikning.dags != "" %}
				<dt>Dags</dt>
				<dd><a href="{% url 'one-artal' teikning.dags|date:"Y" %}">{{teikning.dags|date:"Y-m-d"}}</a></dd>
				{% endif %}
			</dl>
		</section>
		<footer>		
		</footer>
	</article>