body {
	width:88%;
	margin:15px auto;
	font-family: Arial, "MS Trebuchet", sans-serif;
}

header#page_header, header#frontpage_header {
	width:100%;
	overflow:auto; /* sbr. http://www.quirksmode.org/css/clearing.html */
}
header#page_header img, header#frontpage_header img {
	border-style: none;
}
header#frontpage_header h1 {
	height: 150px;
	margin:0px 0px 30px 0px;
	text-align: center;
}
header#frontpage_header h2 {
	text-align: center;	
}
/* header#frontpage_header h2 a, #content > section > h2, article header h2 a { */
a {
	color: green;
}
header#page_header h1 {
	margin:5px 0px 25px 5%;
	float:left;
}
header#page_header h2 {
	float:right;
	background: url("../images/lurkur_larettur_skuggalaus_x30.png") no-repeat scroll center bottom;
	width: 252px;
	height: 61px;
	margin: 10px 10% 0px 0;
	text-align: center;
}
header#page_header h2 a {
	display: block;
	margin: 2px 0px 0px 0px;
	color: green;
	text-decoration: none;
}

article header h2 a {
	text-decoration: none;
}

header#page_header h2 a:hover, article header h2 a:hover {
	text-decoration: underline;
}

article, body footer {
	margin-top: 52px;
}

#content footer address {
	float: left;
}
#content footer .about {
	float: right;
}

.reference {
	vertical-align: super;
	font-size:xx-small;
}

article {
	padding: 0px 15px;
	box-shadow: 15px 15px 0px #000;
	-moz-box-shadow: 15px 15px 0px #000;
	-webkit-box-shadow: 15px 15px 0px #000;
	-o-box-shadow: 15px 15px 0px #000;
	
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	
	border:2px solid #000;
}

article.video section.video_stream {
	margin:0px auto 15px auto;
	text-align:center;
}



/* flokkar */
/* from http://stackoverflow.com/questions/5449872/css-notlast-childafter-selector */
#teikningar-categories ul, #teikningar ul {
    list-style-type:   none;
    text-align:        center;
}
#teikningar-categories li, #teikningar li {
    display:           inline-block;
}
#teikningar-categories li:not(:last-child):after, #teikningar li:not(:last-child):after {
    content:           ' |';
}
#teikningar-categories li, #teikningar li {
	font-size: 1.4em;
	white-space:nowrap;
	margin-bottom:5px;
}

section ul li, nav ul li {
	padding: 5px 0px;
}


/* scan thumbs */
#teikningar-thumbs {
	text-align:center;
}
#teikningar-thumbs img {
	margin: 1em;
	border: 5px solid lightgray;
}

/***** map *****/
#map-canvas {
  height: 480px;
}

/***** teikning *****/
/* one drawing display */

#scan-thumbs {
	margin-top: 5px;
	text-align:center;
}
#scan-download {
	width:100%;
	text-align:center;
	margin-top:10px;
}
#scan-thumbs a {
/* 	padding-right: 5px; */
}
/* #scan-thumbs span { */
/* 	float: left; */
/* } */
#scan-thumbs img {
	cursor: pointer;
/* 	float: left; */
	margin: 1em;
}
#scan-dzi {
	height: 500px;
	width: 100%;
	background-color: lightgray;
}
.active-scan {
	border: 5px solid black;
}
.inactive-scan {
	border: 5px solid lightgray;
}



.loadingpanel {
	background: #fff url(../images/loading.gif) right top no-repeat!important;
}