/* one drawing display */

#scan-thumbs {
	margin-top: 5px;
	text-align:center;
}
#scan-download {
	width:100%;
	text-align:center;
	margin-top:10px;
}
#scan-thumbs a {
/* 	padding-right: 5px; */
}
/* #scan-thumbs span { */
/* 	float: left; */
/* } */
#scan-thumbs img {
	cursor: pointer;
/* 	float: left; */
	margin: 1em;
}
#scan-dzi {
	height: 500px;
	width: 100%;
	background-color: lightgray;
}
.active-scan {
	border: 5px solid black;
}
.inactive-scan {
	border: 5px solid lightgray;
}