<!DOCTYPE html>
{% load static %}
<html lang="is">
<head>
<!--     <link rel="stylesheet" href="style.css" /> -->
    <title>ALASKA{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}" />
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
	<link rel="shortcut icon" href="http://static.alaska.is/images/favicon.ico" />
	<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
	<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    {% block extrahead%}{% endblock %}
</head>

<body>
    <div id="content">
    
		{% if isFrontPage %}
		<header id="frontpage_header">
			 <h1><a href="/" title="ALASKA.is"><img src="{% static "images/ALASKAvx150.png" %}" alt="ALASKA" /></a></h1>
			 <h2>Landslagsteikningar eftir <a href="/Jon-Hallgrimur-Bjornsson">Jón H. Björnsson</a></h2>
		</header>
		{% else %}
		<header id="page_header">
			<h1><a href="/" title="ALASKA.is"><img src="{% static "images/alaska_300x.png" %}" alt="ALASKA" /></a></h1>
			<h2><a href="{{secondary_index_path}}">{{secondary_index_title}}</a></h2>
		</header>
		{% endif %}
    
        {% block content %}{% endblock %}
        
		<footer id="page_footer">
			<hr />
			<address>alaska@alaska.is</address>
		</footer>
    </div>
</body>
</html>