<!DOCTYPE html>{% load static %}
<html lang="is">
<head>
    <title>ALASKA{% block title %}{% endblock %}</title>
	<link rel="shortcut icon" href="/static/images/favicon.ico" />
	{% block extrahead%}{% endblock %}
	
	<link rel="stylesheet" href="{% static "css/style.css" %}" />
	{% block extraheadcss%}{% endblock %}
	
	<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
	<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	{% block extraheadjs%}{% endblock %}

	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	
	  ga('create', 'UA-43271726-2', 'alaska.is');
	  ga('send', 'pageview');
	
	</script>
</head>

<body>
    <div id="content">
    
		{% if isFrontPage %}
		<header id="frontpage_header">
			 <h1><a href="/" title="ALASKA.is"><img src="{% static "images/ALASKAvx150.png" %}" alt="ALASKA" /></a></h1>
			 <h2>Landslagsteikningar eftir <a href="/Jon-Hallgrimur-Bjornsson">Jón H. Björnsson</a></h2>
		</header>
		{% else %}
		<header id="page_header">
			<h1><a href="/" title="ALASKA.is"><img src="{% static "images/alaska_300x.png" %}" alt="ALASKA" /></a></h1>
			<h2><a href="{{secondary_index_path}}">{{secondary_index_title}}</a></h2>
		</header>
		{% endif %}
    
        {% block content %}{% endblock %}
        
		<footer id="page_footer">
			<hr />
			<address>alaska@alaska.is</address>
		</footer>
    </div>
</body>
</html>